.indexAdvantages {
	background-color: #efefef;
	padding-bottom: 57px;
	margin-bottom: 58px;
	padding-top: 20px;
}

.indexAdvantagesWrapper {

}

.indexAdvantagesTitle {
	font-size: 33px;
	letter-spacing: -2px;
	margin-bottom: 32px;
}

.indexAdvantages__items {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.indexAdvantages__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 10px;
}

.indexAdvantagesIcon {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 11px;
}

.indexAdvantages__title {
	font-size: 18px;
	line-height: 23px;
	color: rgb(51, 51, 51);
	margin-bottom: 18px;
	font-weight: bold;
}

.indexAdvantages_text{
	font-size: 14px;
	line-height: 17px;
	color: rgb(51, 51, 51);
}

