.indexBanner {
	position: relative;
	max-height: 489px;
	overflow: hidden;
}

.indexBanner__items {

}

.indexBanner__item {

}

.indexBanner__link {
	display: block;
}

.indexBanner__img {
	vertical-align: middle;
}

.bannerNav__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: rgba(0, 0, 0, .3);

}

.bannerNav__btn-right {
	right: 0;
}