.indexCatalog {
	padding-bottom: 80px;
	border-bottom: 1px solid #d2d7d9;
	margin-bottom: 25px;
}

.indexCatalogWrapper {

}

.indexCatalogTitle {

}

.indexCatalogDesc {

}

.indexCatalog__items {
	list-style-type: none;
	padding: 0;
	margin: -75px 0 0 -84px;
	display: flex;
	flex-wrap: wrap;
}

.indexCatalog__item {
	width: calc(33.33334% - 84px);
	margin-left: 84px;
	margin-top: 75px;
	border-radius: 4px;
	overflow: hidden;
}

.indexCatalog__title {
	text-align: center;
	margin-bottom: 4px;
	font-size: 24px;
	color: rgb(51, 51, 51);
}

.indexCatalogInfo {
	display: flex;
	margin-bottom: 30px;
	margin-left: -20px;
	align-items: baseline;
	justify-content: center;
}

.indexCatalogInfo__col {
	margin-left: 20px;
}

.indexCatalogInfo__sale {
	font-size: 15px;
	letter-spacing: .6px;
	color: rgb(239, 84, 68);
	position: relative;

	&:before {
		position: absolute;
		-ms-transform: rotate(25deg);
		transform: rotate(-5deg);
		content: '';
		width: 100%;
		height: 1px;
		background-color: #ef5444;
		top: 10px;
	}
}

.indexCatalogInfo__price {
	font-size: 16px;
	color: rgb(112, 112, 112);
}

.indexCatalogInfo__price-summ {
	font-size: 20px;
	color: #34a853;
	font-weight: bold;
}

.indexCatalogImg {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 379px;
}

.indexCatalog__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.indexCatalogImg__items {
	list-style-type: none;
	padding: 15px;
	margin: -6px 0 0 0;
	position: absolute;
	top: 30px;
	left: 18px;
	border-right: 0;
}

.indexCatalogImg__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.indexCatalogImg__item {
	font-size: 14px;
	color: rgb(255, 255, 255);
	margin-top: 6px;
}

.indexCatalog__preview {
	margin-bottom: 28px;
	text-align: center;
	font-size: 14px;
	letter-spacing: -.5px;
	color: rgb(51, 51, 51);
	font-weight: 600;
}

.indexCatalogControl {
	display: flex;
	justify-content: space-between;
}

.indexCatalogControl__col {

}

.indexCatalogControl__btn {

}

@media (max-width: 1170px) {
	.indexCatalogControl__btn {
		width: 140px;
	}
	.indexCatalogImg {
		position: relative;
		margin-bottom: 10px;
		width: 100%;
		height: 350px;
	}

	.indexCatalog__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
	}

	.indexCatalog__items {
		padding: 0;
		margin: -75px 0 0 -34px;
	}

	.indexCatalog__item {
		width: calc(33.33334% - 34px);
		margin-left: 34px;
		margin-top: 75px;
	}
}

@media (max-width: 991px) {
	.indexCatalog {
		padding-bottom: 20px;
		border-bottom: 1px solid #d2d7d9;
		margin-bottom: 0;
	}

	.indexCatalog__items {
		padding: 0;
		margin: -15px 0 0 -15px;
	}

	.indexCatalog__item {
		width: calc(50% - 15px);
		margin-left: 15px;
		margin-top: 15px;
	}

	.indexCatalogImg {
		height: 270px;
	}

	.indexCatalogControl__btn {
		width: 115px;
	}

	.indexCatalog__preview {
		margin-bottom: 15px;
	}

	.indexCatalogInfo {
		flex-direction: column;
		margin-bottom: 15px;
		margin-left: -20px;
		align-items: center;
		justify-content: center;
	}

	.indexCatalogInfo__col {
		margin-left: 0;
		margin-top: 5px;
	}

	.indexCatalogControl {
		width: 230px;
		margin: 0 auto;
	}

	.indexCatalogControl__btn {
		width: 110px;
	}
}

@media (max-width: 510px) {
	.indexCatalog__items {
		padding: 0;
		margin: -25px 0 0 0;
		justify-content: center;
	}

	.indexCatalog__item {
		width: 270px;
		margin-left: 0;
		margin-top: 25px;
		padding-top: 15px;
		padding-bottom: 15px;

		border: 1px solid #f1f1f1;
	}

	.indexCatalogControl {
		margin: 0 15px;
	}

	.indexCatalogImg {
		height: 270px;
	}

	.indexCatalogControl__btn {
		width: 110px;
	}

	.indexCatalogImg__items {
		margin-left: 20px;
	}
}