.indexOrdering {
	margin-bottom: 100px;
	margin-top: -2px;
}

.indexOrderingWrappwer {

}

.indexOrderingTitle {
	font-size: 33px;
	letter-spacing: -2px;
	margin-bottom: 20px;
}

.indexOrderingDesc {
	line-height: 30px;
	margin-bottom: 41px;
}

.indexOrderingBody {
	display: flex;
}

.indexOrderingBody__col {

	&:first-child {

	}

	&:last-child {
		padding-left: 57px;
	}
}

.indexOrderingPreview {
	position: relative;
	width: 683px;
	height: 351px;
}

.indexOrderingPreview__img {
	vertical-align: middle;
	max-width: 100%;
}

.indexOrderingPreview__link {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(24, 117, 240);
	width: 189px;
	height: 49px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-decoration: none;
}

.indexOrderingList__items {
	list-style-type: none;
	margin: -45px 0 0 0;
	padding: 0;
}

.indexOrderingList__item {
	display: flex;
	margin-top: 70px;
}

.indexOrderingList__col {

	&:first-child {
		min-width: 50px;
		display: flex;
		justify-content: center;
		position: relative;
		top: -5px;
	}

	&:last-child {
		padding-left: 20px;
	}
}

.indexOrderingList__title {
	font-size: 18px;
	color: #797979;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-top: -20px;
}

.indexOrderingList__text {
	font-size: 18px;
	color: rgb(40, 40, 40);
	line-height: 1.2;
}

@media (max-width: 1170px) {
	.indexOrderingPreview {
		position: relative;
		width: 500px;
		height: 257px;
	}

	.indexOrderingList__items {
		list-style-type: none;
		margin: -20px 0 0;
		padding: 0;
	}

	.indexOrderingList__item {
		display: -ms-flexbox;
		display: flex;
		margin-top: 40px;
	}

	.indexOrdering {
		margin-bottom: 40px;
	}
}

@media (max-width: 991px) {
	.indexOrdering {
		margin-bottom: 20px;
	}

	.indexOrderingTitle {
		font-size: 26px;
		letter-spacing: -2px;
		margin-bottom: 10px;
		line-height: 28px;
	}

	.indexOrderingDesc {
		line-height: 22px;
		margin-bottom: 20px;
	}

	.indexOrderingBody {
		flex-direction: column;
		margin-top: -20px;
	}

	.indexOrderingBody__col {
		margin-top: 20px;
	}

	.indexOrderingBody__col:last-child {
		padding-left: 0;
	}

	.indexOrderingPreview {
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.indexOrderingPreview__link {
		left: 50%;
		transform: translateX(-50%);
	}
}














