.consultationForm.wSectionAppForm
	.consultationFormWrapper
		form(action="/")
			.consultationFormBody
				.consultationFormBody__col
					.consultationFormInput
						input.consultationFormInput__text(type="text" name="AppForm-name" placeholder="Ваше имя")
				.consultationFormBody__col
					.consultationFormInput
						input.consultationFormInput__text(type="text" name="AppForm-phone" placeholder="Номер телефона")
				.consultationFormBody__col
					button.consultationForm__btn Получить точный расчет