.wSectionPreview
	.container
		.wSectionPreviewTitle.dTitle Деревянные окна купить с установкой<br>цены от производителя
		.wSectionPreviewDesc.dDesc
			| Купить деревянные окна - значит не просто позаботиться о комфорте, но и привнести в дом максимум экологии.
			| Решив купить
			| в Москве и МО деревянное окно, возникает вопрос: какая древесина и окрас лучше? Лиственницу рекомендуем
			| для частных домов, как породу с подходящими характеристиками. Для квартиры подходит дуб и сосна.
			| Для остекления коттеджа
			| - отличный вариант меранти. Окна из пластика на порядок дешевле, но на производство изделий из дерева
			| затрачивается
			| больше ресурсов. Поторопитесь заказать деревянные окна, пока цены стабильны на лесной бирже!