section.wSectionStep3
	.container
		h2.wSectionStep3Title.wSectionTitle #[strong Шаг 3] Укажите размеры вашего окна
		.wSectionStep3Size
			.wSectionStep3SizeInput__wrap.top(data-title="см")
				.wSectionStep3SizeInput
					input.wSectionStep3SizeInput__text(placeholder="555" type="text")
			.wSectionStep3SizeInput__wrap.right(data-title="см")
				.wSectionStep3SizeInput
					input.wSectionStep3SizeInput__text(placeholder="555" type="text")
			.wSectionStep3SizeImg
				img.wSectionStep3SizeImg__img(src="assets/img/windows-section/window-size.png" alt="")