ul.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
	li.breadcrumb__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
		a.breadcrumb__link(href='/', title='Главная', itemprop='item')
			span(itemprop='name') Главная
		meta(itemprop='position', content='1')
	li.breadcrumb__item.active(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
		span(itemprop='item')
			span(itemprop='name') Пластиковые окна
		meta(itemprop='position', content='2')