footer.footer
	.container
		.footerWrap
			.footer__col
				a.footerLogo(href="#")
					img.footerLogo__img(src="assets/img/logo-footer.png" alt="")
			.footer__col
				.footerList
					.footerList__title Спостобы оплаты:
					ul.footerList__items.footerList__payment
						li.footerList__item
							.icon-visa
						li.footerList__item
							.icon-mastercart
						li.footerList__item
							.icon-yandex-money
			.footer__col
				.footerList
					.footerList__title Спостобы оплаты:
					ul.footerList__items
						li.footerList__item
							.icon-ins
						li.footerList__item
							.icon-youtube
						li.footerList__item
							.icon-twitter
						li.footerList__item
							.icon-telegramm
			.footer__col
				.footerContact
					.footerContact__phone +7(495) 764-64-04
					.footerContact__time Пн-Пт 9:00-20:00; Сб-Вс 9:00-1900
		.footerCopy
			| Данный сайт носит исключительно информационный характер, Статья 437 (2) Гражданского кодекса РФ.<br>
			| «ОКНА ВЕКА» - зарегистрированная торговая марка. Копирование, воспроизведение материалов запрещено.