header.header
	.container
		.headerWrap
			.header__col
				a.logo(href="/")
					img.logo__img(src="assets/img/logo.png" alt="")
			.header__col
				a.headerPopupLink(href="#")
					.headerPopupLink__col
						.headerPopupLink__icon
							.icon-pencil-ruler-fill
					.headerPopupLink__col
						.headerPopupLink__text Оставить заявку<br>на замер
			.header__col
				a.headerPopupLink(href="#")
					.headerPopupLink__col
						.headerPopupLink__icon
							.icon-calculator-fill
					.headerPopupLink__col
						.headerPopupLink__text Калькулятор<br>окон
			.header__col
				a.headerPopupLink(href="#")
					.headerPopupLink__col
						.headerPopupLink__icon
							.icon-phone-fill
					.headerPopupLink__col
						.headerPopupLink__text Заказать<br>звонок
			.header__col
				.headerContact
					.headerContact__phone +7(495) 764-64-04
					.headerContact__time Пн-Пт 9:00-20:00; Сб-Вс 9:00-1900