.stockitems
	.container
		.stockitems__items
			.stockitems__item
				include ../index/discounts_photo
			.stockitems__item
				include ../index/discounts_photo
			.stockitems__item
				include ../index/discounts_photo