/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-advantages-1 {
  background-image: url(sprite.png);
  background-position: -4194px 0px;
  width: 43px;
  height: 47px;
}
.icon-advantages-2 {
  background-image: url(sprite.png);
  background-position: -4307px 0px;
  width: 46px;
  height: 50px;
}
.icon-advantages-3 {
  background-image: url(sprite.png);
  background-position: -3858px 0px;
  width: 41px;
  height: 41px;
}
.icon-advantages-4 {
  background-image: url(sprite.png);
  background-position: -4081px 0px;
  width: 43px;
  height: 43px;
}
.icon-advantages-5 {
  background-image: url(sprite.png);
  background-position: -3642px 0px;
  width: 36px;
  height: 42px;
}
.icon-advantages-6 {
  background-image: url(sprite.png);
  background-position: -5411px 0px;
  width: 63px;
  height: 39px;
}
.icon-arrow-banner-left {
  background-image: url(sprite.png);
  background-position: -413px 0px;
  width: 18px;
  height: 33px;
}
.icon-arrow-banner-right {
  background-image: url(sprite.png);
  background-position: -237px 0px;
  width: 18px;
  height: 33px;
}
.icon-arrow-down-orange {
  background-image: url(sprite.png);
  background-position: -75px 0px;
  width: 11px;
  height: 6px;
}
.icon-arrow-down {
  background-image: url(sprite.png);
  background-position: -156px 0px;
  width: 11px;
  height: 6px;
}
.icon-arrow-right-blue {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 5px;
  height: 9px;
}
.icon-calculator-fill {
  background-image: url(sprite.png);
  background-position: -589px 0px;
  width: 18px;
  height: 20px;
}
.icon-catalog-menu-1 {
  background-image: url(sprite.png);
  background-position: -2941px 0px;
  width: 28px;
  height: 28px;
}
.icon-catalog-menu-2 {
  background-image: url(sprite.png);
  background-position: -1303px 0px;
  width: 22px;
  height: 28px;
}
.icon-catalog-menu-3 {
  background-image: url(sprite.png);
  background-position: -2059px 0px;
  width: 28px;
  height: 28px;
}
.icon-catalog-menu-4 {
  background-image: url(sprite.png);
  background-position: -2843px 0px;
  width: 28px;
  height: 28px;
}
.icon-catalog-menu-5 {
  background-image: url(sprite.png);
  background-position: -2353px 0px;
  width: 28px;
  height: 29px;
}
.icon-catalog-menu-6 {
  background-image: url(sprite.png);
  background-position: -1673px 0px;
  width: 26px;
  height: 28px;
}
.icon-catalog-menu-7 {
  background-image: url(sprite.png);
  background-position: -3137px 0px;
  width: 30px;
  height: 26px;
}
.icon-catalog-menu-8 {
  background-image: url(sprite.png);
  background-position: -325px 0px;
  width: 18px;
  height: 18px;
}
.icon-clock {
  background-image: url(sprite.png);
  background-position: -3969px 0px;
  width: 42px;
  height: 42px;
}
.icon-configurator-title {
  background-image: url(sprite.png);
  background-position: -1579px 0px;
  width: 24px;
  height: 26px;
}
.icon-info-1 {
  background-image: url(sprite.png);
  background-position: -5155px 0px;
  width: 57px;
  height: 61px;
}
.icon-info-2 {
  background-image: url(sprite.png);
  background-position: -4660px 0px;
  width: 50px;
  height: 61px;
}
.icon-info-3 {
  background-image: url(sprite.png);
  background-position: -5029px 0px;
  width: 56px;
  height: 47px;
}
.icon-info-4 {
  background-image: url(sprite.png);
  background-position: -4903px 0px;
  width: 56px;
  height: 57px;
}
.icon-info-5 {
  background-image: url(sprite.png);
  background-position: -5282px 0px;
  width: 59px;
  height: 59px;
}
.icon-info-6 {
  background-image: url(sprite.png);
  background-position: -4780px 0px;
  width: 53px;
  height: 65px;
}
.icon-ins {
  background-image: url(sprite.png);
  background-position: -1031px 0px;
  width: 20px;
  height: 20px;
}
.icon-marker {
  background-image: url(sprite.png);
  background-position: -3437px 0px;
  width: 32px;
  height: 46px;
}
.icon-mastercart {
  background-image: url(sprite.png);
  background-position: -3539px 0px;
  width: 33px;
  height: 21px;
}
.icon-menu-curtains-hover {
  background-image: url(sprite.png);
  background-position: -3039px 0px;
  width: 28px;
  height: 29px;
}
.icon-menu-curtains {
  background-image: url(sprite.png);
  background-position: -2745px 0px;
  width: 28px;
  height: 29px;
}
.icon-menu-doors-hover {
  background-image: url(sprite.png);
  background-position: -1395px 0px;
  width: 22px;
  height: 28px;
}
.icon-menu-doors {
  background-image: url(sprite.png);
  background-position: -1487px 0px;
  width: 22px;
  height: 28px;
}
.icon-menu-grids-hover {
  background-image: url(sprite.png);
  background-position: -1865px 0px;
  width: 26px;
  height: 28px;
}
.icon-menu-grids {
  background-image: url(sprite.png);
  background-position: -1769px 0px;
  width: 26px;
  height: 28px;
}
.icon-menu-portals-hover {
  background-image: url(sprite.png);
  background-position: -2451px 0px;
  width: 28px;
  height: 28px;
}
.icon-menu-portals {
  background-image: url(sprite.png);
  background-position: -1961px 0px;
  width: 28px;
  height: 28px;
}
.icon-menu-sales-hover {
  background-image: url(sprite.png);
  background-position: -677px 0px;
  width: 18px;
  height: 18px;
}
.icon-menu-sales {
  background-image: url(sprite.png);
  background-position: -501px 0px;
  width: 18px;
  height: 18px;
}
.icon-menu-sills-hover {
  background-image: url(sprite.png);
  background-position: -3237px 0px;
  width: 30px;
  height: 26px;
}
.icon-menu-sills {
  background-image: url(sprite.png);
  background-position: -3337px 0px;
  width: 30px;
  height: 26px;
}
.icon-menu-windows-hover {
  background-image: url(sprite.png);
  background-position: -2549px 0px;
  width: 28px;
  height: 28px;
}
.icon-menu-windows {
  background-image: url(sprite.png);
  background-position: -2647px 0px;
  width: 28px;
  height: 28px;
}
.icon-menu-winter-garden-hover {
  background-image: url(sprite.png);
  background-position: -2255px 0px;
  width: 28px;
  height: 28px;
}
.icon-menu-winter-garden {
  background-image: url(sprite.png);
  background-position: -2157px 0px;
  width: 28px;
  height: 28px;
}
.icon-pencil-ruler-fill {
  background-image: url(sprite.png);
  background-position: -765px 0px;
  width: 18px;
  height: 20px;
}
.icon-phone-call {
  background-image: url(sprite.png);
  background-position: -3748px 0px;
  width: 40px;
  height: 41px;
}
.icon-phone-fill {
  background-image: url(sprite.png);
  background-position: -942px 0px;
  width: 19px;
  height: 18px;
}
.icon-telegramm {
  background-image: url(sprite.png);
  background-position: -853px 0px;
  width: 19px;
  height: 16px;
}
.icon-twitter {
  background-image: url(sprite.png);
  background-position: -1121px 0px;
  width: 21px;
  height: 17px;
}
.icon-visa {
  background-image: url(sprite.png);
  background-position: -4423px 0px;
  width: 48px;
  height: 15px;
}
.icon-yandex-money {
  background-image: url(sprite.png);
  background-position: -4541px 0px;
  width: 49px;
  height: 17px;
}
.icon-youtube {
  background-image: url(sprite.png);
  background-position: -1212px 0px;
  width: 21px;
  height: 15px;
}
