.menuCommonBlock {
	margin-bottom: 34px;
}

.menuCommonBlockWrapper {
	display: flex;
}

.menuCommonBlock__col {

	&:first-child {
		min-width: 254px;
		max-width: 254px;
	}

	&:last-child {
		width: 886px;
	}
}

@media (max-width: 1170px) {
	.menuCommonBlock {
		position: relative;
		top: 48px;
	}

	.menuHorizontal {
		position: relative;
		top: -48px;
		left: -254px;
		width: 970px;
	}
	.menuVerticalTitle {
		display: none;
	}

	.menuCommonBlock__col:last-child {
		width: 716px;
	}
}

@media (max-width: 991px) {
	.menuCommonBlock__col {

		&:first-child {
			display: none;
		}

		&:last-child {
			width: 100%;
		}
	}

	.menuHorizontal {
		display: none;
	}

	.menuCommonBlock {
		top: 0;
	}

	.menuCommonBlock {
		position: relative;
		top: 0;
	}

	.menuCommonBlock {
		margin-bottom: 0;
	}
}


