.share {
	background-color: #f53638;
}

.shareWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	padding: 5px 0;
}

.share__col {

	&:nth-child(1) {
		width: 80%;
	}

	&:nth-child(2) {

	}

	&:nth-child(3) {

	}
}

.share__text {
	font-size: 20px;
}

.share__date {
	font-size: 14px;
}

.share__btn {
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	width: 117px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(40, 40, 40);
}

@media (max-width: 1170px) {
	.share__date {
		padding-right: 20px;
	}
}

@media (max-width: 991px) {
	.share__text {
		font-size: 14px;
		margin-right: 20px;
	}

	.share__date {
		font-size: 14px;
	}
}

@media (max-width: 550px) {
	.shareWrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #ffffff;
		padding: 5px 0;
		flex-wrap: wrap;
	}

	.share__col {

		&:nth-child(1) {
			width: 100%;
			border-bottom: 1px solid #f2f2f2;
			padding: 5px 0;
		}

		&:nth-child(2), &:nth-child(3) {
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}

	.share__text {
		padding: 5px 0;
	}
	.share__btn {
		border-radius: 4px;
		background-color: #fff;
		width: 90px;
		height: 30px;
	}
}