.aboutPrizes {
	margin-bottom: 40px;
}

.prizes__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -30px;
	margin-top: -30px;
}

.prizes__item {
	width: calc(25% - 30px);
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
}

.prizesImg {
	background-color: #fbfbfc;
	height: 230px;
	margin-bottom: 10px;
	display: inline-flex;
}

.prizes__img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.prizes__title {
	font-size: 20px;
	color: #333333;
}

@media (max-width: 991px) {
	.prizes__items {
		justify-content: center;
	}

	.prizes__item {
		width: calc(33.33334% - 30px);
	}
}

@media (max-width: 991px) {
	.prizes__item {
		width: calc(50% - 30px);
	}
}

@media (max-width: 480px) {
	.prizes__items {
		margin-left: 0;
	}

	.prizes__item {
		width: 100%;
		margin-left: 0;
	}
}
