extends ../_template

block variables
	- var title = 'О нас'
	- var banner = 'N'

block content
	include ../common/MenuCommonBlock_inner
	include stock/preview
	include stock-detail/banner
	include aluminum-windows/info
	include stock/preview
	include about/prizes
	include about/video
	include about/advantage
	include index/consultationForm
	include about/partners
	include index/ordering
