extends ../_template

block variables
	- var title = 'Контакты'

block content
	include ../common/MenuCommonBlock_inner
	include stock/preview
	include contact/department
	include index/consultationForm
	include contact/installers
	include contact/requisites
	include contact/requisites_desc
	include contact/map
