extends ../_template

block variables
  - var title = 'Home page'
  - var page = 'index'

block content
  include ../common/menuCommonBlock
  include index/catalog
  include index/info
  include index/consultationForm
  include index/popular
  include index/advantages
  include index/configurator
  include index/discounts
  include index/news
  include index/consultationForm
  include index/ordering