extends ../_template

block variables
	- var title = 'Сервисы'

block content
	include ../common/MenuCommonBlock_inner
	include windows-detail/preview
	include contact/installers
	include contact/department
	include index/consultationForm
	include index/ordering
