extends ../_template

block variables
	- var title = 'Акции'

block content
	include ../common/MenuCommonBlock_inner
	include stock/preview
	include stock/photo
	include windows-section/description
	include index/ordering