extends ../_template

block variables
	- var title = 'Акции детально'

block content
	include ../common/MenuCommonBlock_inner
	include stock/preview
	include stock-detail/banner
	include index/consultationForm
	include index/news
	include index/ordering