extends ../_template

block variables
	- var title = 'Деревянные окна раздел'

block content
	include ../common/MenuCommonBlock_inner
	include windows-section/preview
	include windows-section/step1
	include windows-section/step2
	include windows-section/step3
	include windows-section/step4
	include windows-section/step5
	include windows-section/step6
	include windows-section/application
	include windows-section/window-form
	include windows-section/photo
	include windows-section/description
	include index/ordering