extends ../_template

block variables
	- var title = 'Деревянные окна детально'

block content
	include ../common/MenuCommonBlock_inner
	include windows-detail/preview
	include windows-detail/info
	include windows-detail/preview-consultant-form
	include index/consultationForm
	include windows-detail/windows-items
	include windows-detail/sills
	include index/consultationForm
	include windows-detail/rec
	include windows-detail/series
	include windows-detail/photo
	include windows-detail/certificates
	include index/ordering