.indexBanner
	.indexBanner__items
		each item in [1 ,2 ,3]
			.indexBanner__item
				a.indexBanner__link(href="#")
					img.indexBanner__img(src="assets/img/index/banner.png" alt="")
	.indexBannerArrows