section.consultationForm.stockForm
	.container
		.consultationFormWrapper
			h2.consultationFormTitle.commonTitle Сделаем консультацию под заказ по любым размерам быстро
			form(action="/")
				.consultationFormBody
					.consultationFormBody__col
						.consultationFormInput
							input.consultationFormInput__text.user(type="text" name="consultation-name" placeholder="Ваше имя")
					.consultationFormBody__col
						.consultationFormInput
							input.consultationFormInput__text.phone.phoneValid(type="text" name="consultation-phone" placeholder="+7 (111) 111-11-11")
					.consultationFormBody__col
						button.consultationForm__btn Оставить заявку
				.consultationFormPolity
					.consultationFormPolity__col
						label
							.wSectionAppOptionsInput
								input.wSectionAppOptionsInput__checkbox(type="checkbox" checked="checked" name=`wSectionAppOptionsInput-${i}`)
								.wSectionAppOptionsInput__style
					.consultationFormPolity__col
						| Ознакомлен с
						| "#[a.consultationFormPolity__link(href="#") Регламентом о защите персональных данных]"
						| и выражаю согласие на их обработку