section.consultationForm
	.container
		.consultationFormWrapper
			h2.consultationFormTitle.commonTitle Сделаем консультацию под заказ по любым размерам быстро
			form(action="/")
				.consultationFormBody
					.consultationFormBody__col
						.consultationFormInput
							input.consultationFormInput__text(type="text" name="consultation-name" placeholder="Ваше имя")
					.consultationFormBody__col
						.consultationFormInput
							input.consultationFormInput__text(type="text" name="consultation-phone" placeholder="Номер телефона")
					.consultationFormBody__col
						button.consultationForm__btn Оставить заявку