section.indexDiscounts
	.container
		.indexDiscountsWrapper
			h2.indexDiscountsTitle.commonTitle Фото пластиковых окон
			.indexDiscountsDesc.commonDescription
				| Своим клиентам компания «Окна Века» предлагает только лучшие пластиковые окна, включающие в себя:
				| Профиль VEKA – металлопластиковый профиль, изготовленный из высококачественного экологичного
				| пластика (ПВХ), устойчивого к влиянию внешней среды, элегантной и технически-продуманной до
				| мельчайших деталей формы, шириной 58/70/90 мм.
			include ../index/discounts_photo