.indexOrdering
	.container
		.indexOrderingWrappwer
			include ../index/orderingDesc
			.indexOrderingBody
				.indexOrderingBody__col
					.indexOrderingPreview
						img.indexOrderingPreview__img(src="assets/img/index/central-office.png" alt="Центральный офис")
						a.indexOrderingPreview__link(href="#") Центральный офис
				.indexOrderingBody__col
					ul.indexOrderingList__items
						li.indexOrderingList__item
							.indexOrderingList__col
								.icon-marker
							.indexOrderingList__col
								.indexOrderingList__title Адрес:
								.indexOrderingList__text
									| г. Санкт-Петербург дер.
									| Новое Девяткино, ул.Школьная д.15
						li.indexOrderingList__item
							.indexOrderingList__col
								.icon-phone-call
							.indexOrderingList__col
								.indexOrderingList__title Телефон:
								.indexOrderingList__text +7(495) 764-64-04
						li.indexOrderingList__item
							.indexOrderingList__col
								.icon-clock
							.indexOrderingList__col
								.indexOrderingList__title Время работы:
								.indexOrderingList__text Пн-Пт 9:00-20:00; Сб-Вс 9:00-1900