section.wDetailInfo
	.container
		h2.wDetailInfoTitle.dTitle Veka Softline 82 (Века Софтлайн 82)<br>купить недорого европейское качество
		.wDetailInfoDesc.dDesc
			| Своим клиентам компания «Окна Века» предлагает только лучшие пластиковые окна, включающие в себя:
			| Профиль VEKA – металлопластиковый профиль, изготовленный из высококачественного экологичного пластика (ПВХ),
			| устойчивого к влиянию внешней среды, элегантной и технически-продуманной до мельчайших деталей формы,
			| шириной 58/70/90 мм.
		if info === 3
			.wDetailInfoData
				.wDetailInfoData__col
					h3.wDetailInfoData__title Характеристики
					ul.wDetailInfoDataItems
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 1. Контур уплотнения
							.wDetailInfoDataItems__text В трех цветовых вариантах черный,  светло-серый и белый.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 2. Шестикамерный профиль
							.wDetailInfoDataItems__text
								| Немецкий профиль премиум класса. Предназначен для всех типов домов,
								| особенно коттеджей.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 3. Монтажная глубина профиля 82 мм
							.wDetailInfoDataItems__text
								| Инновационная энергоэффективная система,
								| соответствующая высоким требованиям
								| будущего.
				.wDetailInfoData__col
					.wDetailInfoDataImg
						img.wDetailInfoDataImg__img(src="assets/img/windows-detail/main-photo.png" alt="")
				.wDetailInfoData__col
					.wDetailInfoData__right
						h3.wDetailInfoData__title Преимущества
						ul.wDetailInfoDataAdvantages
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sound-no
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Тише
									.wDetailInfoDataAdvantages__text
										| Три контура уплотнения элегантного серого цвета
										| надежно защищают от шума, холода и влаги.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-style
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Стильнее
									.wDetailInfoDataAdvantages__text
										| Новая система предлагает собственную створочную
										| геометрию, учитывающую особенности применения
										| технологии вклеивания стеклопакета в створку.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sun
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Теплее
									.wDetailInfoDataAdvantages__text
										| Созданы для климатических условий России. Они
										| обеспечивают высокий уровень энергосбережения.
						.wDetailInfoDataPrice
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__old от 3 680 ₽ /m2
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__summ от #[span.wDetailInfoDataPrice__int 3 100] ₽ /m2
						.wDetailInfoDataControl
							a.wDetailInfoDataControl__btn.dBtn(href="#")
								.wDetailInfoDataControl__col.dBtn__col
									.icon-calculator
								.wDetailInfoDataControl__col.dBtn__col Рассчитать Veka Softline 82
			.wDetailInfoData
				.wDetailInfoData__col
					h3.wDetailInfoData__title Характеристики
					ul.wDetailInfoDataItems
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 1. Контур уплотнения
							.wDetailInfoDataItems__text В трех цветовых вариантах черный,  светло-серый и белый.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 2. Шестикамерный профиль
							.wDetailInfoDataItems__text
								| Немецкий профиль премиум класса. Предназначен для всех типов домов,
								| особенно коттеджей.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 3. Монтажная глубина профиля 82 мм
							.wDetailInfoDataItems__text
								| Инновационная энергоэффективная система,
								| соответствующая высоким требованиям
								| будущего.
				.wDetailInfoData__col
					.wDetailInfoDataImg
						img.wDetailInfoDataImg__img(src="assets/img/windows-detail/main-photo.png" alt="")
				.wDetailInfoData__col
					.wDetailInfoData__right
						h3.wDetailInfoData__title Преимущества
						ul.wDetailInfoDataAdvantages
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sound-no
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Тише
									.wDetailInfoDataAdvantages__text
										| Три контура уплотнения элегантного серого цвета
										| надежно защищают от шума, холода и влаги.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-style
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Стильнее
									.wDetailInfoDataAdvantages__text
										| Новая система предлагает собственную створочную
										| геометрию, учитывающую особенности применения
										| технологии вклеивания стеклопакета в створку.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sun
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Теплее
									.wDetailInfoDataAdvantages__text
										| Созданы для климатических условий России. Они
										| обеспечивают высокий уровень энергосбережения.
						.wDetailInfoDataPrice
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__old от 3 680 ₽ /m2
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__summ от #[span.wDetailInfoDataPrice__int 3 100] ₽ /m2
						.wDetailInfoDataControl
							a.wDetailInfoDataControl__btn.dBtn(href="#")
								.wDetailInfoDataControl__col.dBtn__col
									.icon-calculator
								.wDetailInfoDataControl__col.dBtn__col Рассчитать Veka Softline 82
			.wDetailInfoData
				.wDetailInfoData__col
					h3.wDetailInfoData__title Характеристики
					ul.wDetailInfoDataItems
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 1. Контур уплотнения
							.wDetailInfoDataItems__text В трех цветовых вариантах черный,  светло-серый и белый.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 2. Шестикамерный профиль
							.wDetailInfoDataItems__text
								| Немецкий профиль премиум класса. Предназначен для всех типов домов,
								| особенно коттеджей.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 3. Монтажная глубина профиля 82 мм
							.wDetailInfoDataItems__text
								| Инновационная энергоэффективная система,
								| соответствующая высоким требованиям
								| будущего.
				.wDetailInfoData__col
					.wDetailInfoDataImg
						img.wDetailInfoDataImg__img(src="assets/img/windows-detail/main-photo.png" alt="")
				.wDetailInfoData__col
					.wDetailInfoData__right
						h3.wDetailInfoData__title Преимущества
						ul.wDetailInfoDataAdvantages
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sound-no
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Тише
									.wDetailInfoDataAdvantages__text
										| Три контура уплотнения элегантного серого цвета
										| надежно защищают от шума, холода и влаги.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-style
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Стильнее
									.wDetailInfoDataAdvantages__text
										| Новая система предлагает собственную створочную
										| геометрию, учитывающую особенности применения
										| технологии вклеивания стеклопакета в створку.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sun
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Теплее
									.wDetailInfoDataAdvantages__text
										| Созданы для климатических условий России. Они
										| обеспечивают высокий уровень энергосбережения.
						.wDetailInfoDataPrice
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__old от 3 680 ₽ /m2
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__summ от #[span.wDetailInfoDataPrice__int 3 100] ₽ /m2
						.wDetailInfoDataControl
							a.wDetailInfoDataControl__btn.dBtn(href="#")
								.wDetailInfoDataControl__col.dBtn__col
									.icon-calculator
								.wDetailInfoDataControl__col.dBtn__col Рассчитать Veka Softline 82
		else
			.wDetailInfoData
				.wDetailInfoData__col
					h3.wDetailInfoData__title Характеристики
					ul.wDetailInfoDataItems
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 1. Контур уплотнения
							.wDetailInfoDataItems__text В трех цветовых вариантах черный,  светло-серый и белый.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 2. Шестикамерный профиль
							.wDetailInfoDataItems__text
								| Немецкий профиль премиум класса. Предназначен для всех типов домов,
								| особенно коттеджей.
						li.wDetailInfoDataItems__item
							.wDetailInfoDataItems__title 3. Монтажная глубина профиля 82 мм
							.wDetailInfoDataItems__text
								| Инновационная энергоэффективная система,
								| соответствующая высоким требованиям
								| будущего.
				.wDetailInfoData__col
					.wDetailInfoDataImg
						img.wDetailInfoDataImg__img(src="assets/img/windows-detail/main-photo.png" alt="")
				.wDetailInfoData__col
					.wDetailInfoData__right
						h3.wDetailInfoData__title Преимущества
						ul.wDetailInfoDataAdvantages
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sound-no
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Тише
									.wDetailInfoDataAdvantages__text
										| Три контура уплотнения элегантного серого цвета
										| надежно защищают от шума, холода и влаги.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-style
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Стильнее
									.wDetailInfoDataAdvantages__text
										| Новая система предлагает собственную створочную
										| геометрию, учитывающую особенности применения
										| технологии вклеивания стеклопакета в створку.
							li.wDetailInfoDataAdvantages__item
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__icon
										.icon-sun
								.wDetailInfoDataAdvantages__col
									.wDetailInfoDataAdvantages__title Теплее
									.wDetailInfoDataAdvantages__text
										| Созданы для климатических условий России. Они
										| обеспечивают высокий уровень энергосбережения.
						.wDetailInfoDataPrice
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__old от 3 680 ₽ /m2
							.wDetailInfoDataPrice__col
								.wDetailInfoDataPrice__summ от #[span.wDetailInfoDataPrice__int 3 100] ₽ /m2
						.wDetailInfoDataControl
							a.wDetailInfoDataControl__btn.dBtn(href="#")
								.wDetailInfoDataControl__col.dBtn__col
									.icon-calculator
								.wDetailInfoDataControl__col.dBtn__col Рассчитать Veka Softline 82
