section.wDetailPrev
	.container
		.wDetailPrevWrap
			h2.wDetailPrevTitle.dTitle Оставьте заявку на индивидуальный заказ
			.wDetailPrevDesc.dDesc
				| Своим клиентам компания «Окна Века» предлагает только лучшие пластиковые окна, включающие в себя:
				| Профиль VEKA – металлопластиковый профиль, изготовленный из высококачественного экологичного пластика
				| (ПВХ), устойчивого к влиянию внешней среды, элегантной и технически-продуманной до мельчайших деталей формы,
				| шириной 58/70/90 мм.
			.wDetailPrevBanner
				.wDetailPrevBanner__wrap
					.wDetailPrevBanner__title Мульти-функциональный стеклопакет в подарок
					.wDetailPrevBanner__text Акция действует последние 3 дня
