.prevConsForm
	.container
		.prevConsFormTitle.dTitle Цены на окна Softline 82<br>от Veka привлекают выгодой
		.prevConsFormDesc.dDesc
			| Своим клиентам компания «Окна Века» предлагает только лучшие пластиковые окна, включающие в себя:
			| Профиль VEKA – металлопластиковый профиль, изготовленный из высококачественного экологичного пластика (ПВХ),
			| устойчивого к влиянию внешней среды, элегантной и технически-продуманной до мельчайших деталей формы,
			| шириной 58/70/90 мм.