.wDetailRec
	.container
		.wDetailRecTitle.dTitle Рекомендуем другие виды дерева
		ul.wDetailRecItems
			li.wDetailRec__item
				.wDetailRec__title WHS (BXC)
				.wDetailRec__price от #[span.wDetailRec__summ 1 400] ₽ /m2
				.wDetailRecImg
					img.wDetailRec__img(src="assets/img/windows-detail/window-detail-rec.png" alt="")
				.wDetailRecControl
					.wDetailRecControl__col
						button.wDetailRecControl__btn.commonBtn.blue Выбрать
					.wDetailRecControl__col
						button.wDetailRecControl__btn.commonBtn Подробнее
			li.wDetailRec__item
				.wDetailRec__title WHS (BXC)
				.wDetailRec__price от #[span.wDetailRec__summ 1 400] ₽ /m2
				.wDetailRecImg
					img.wDetailRec__img(src="assets/img/windows-detail/window-detail-rec.png" alt="")
				.wDetailRecControl
					.wDetailRecControl__col
						button.wDetailRecControl__btn.commonBtn.blue Выбрать
					.wDetailRecControl__col
						button.wDetailRecControl__btn.commonBtn Подробнее